{% extends 'base.html.twig' %}

{% block title %}Ajout de livre
{% endblock %}

{% block body %}
	<style>
		.bg {
			background-image: url('../../images/manybook.jpg');
			background-size: cover;
		}
		.wrapper {
			margin: 1em auto;
			max-width: 900px;
			width: 80%;
			font: 18px / 1.5 sans-serif;
			background: white;
		}
	</style>

	<center class="marginTitle">
		<h1 class="title my-5 ">Ajout d'un livre</h1>
	</center>

	<div class="wrapper fontText border border-secondary border-3 rounded-2 p-3">
		<div class="d-flex flex-wrap col-12 justify-content-around fontText">
			<div class="col-5">
				{{ form_start(form) }}
				{{ form_row(form.title) }}
				{{ form_row(form.author) }}
				{{ form_row(form.release_date) }}
				{{ form_row(form.category) }}
			</div>
			<div class="col-5">
				{{ form_row(form.editor) }}
				{{ form_row(form.status) }}
				{{ form_row(form.book_condition) }}
				{{ form_row(form.cover) }}
			</div>
			<div class="col-11">
				{{ form_row(form.summary) }}
			</div>
			<div class="d-flex justify-content-center col-12">
				{{ form_row(form.save) }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
