{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!
{% endblock %}

{% block body %}
	<style>
		.presentation-livre {
			margin: 1em auto;
			max-width: 900px;
			width: 80%;
			font: 18px / 1.5 sans-serif;
		}
	</style>
	
	<div class="presentation-livre d-flex flex-column justify-content-center">
		<div class="d-flex flex-wrap justify-content-center mb-5">
			<h1 class="mb-5">{{ data.title }}</h1>
			<p>
				<b>Résumé :</b>
				{{ data.summary }}</p>
		</div>

		{# CARACTÉRISTIQUES DÉTAILLÉES #}
		<div class="d-flex justify-content-between mb-5">
			<p>
				<b>Auteur :</b>
				{{ data.author }}</p>
			<p>
				<b>Date de parution :</b>
				{{ data.release_date|date('d/m/Y') }}</p>
			<p>
				<b>Categorie :</b>
				{{ data.category }}</p>
			<p>
				<b>Editeur :</b>
				{{ data.editor }}</p>
		</div>

		{# Etat du livre et de son emprunt #}
		<div class="d-flex flex-wrap justify-content-around">
			<p>
				<b>Etat du livre :</b>
				{{ data.book_condition }}</p>
			<p>
				<b>Statu du livre :</b>
				{% if data.status == 1 %}
					disponible
				{% else %}
					emprunté par
					{{ data.user_id.firstname }}
					{{ data.user_id.lastname }}
				{% endif %}
			<p>
			<p>
				<b>Historique d'emprunt :</b>
				 {% for history in book.getHistoricals() %}
				 {% for user in history.getUserId() %}
				 <br>
				 {{user.getFirstname()}} {{user.getLastname()}}
				 <br>
    			 {{history.dateloan|date('d/m/Y')}}
				 {# {{history.datereturn|date('d/m/Y')}} #}
				 {% endfor %}
				 {% endfor %}</p>
			<p>
			<img src="/ecf_symfony/src/uploads/{{data.cover}}">
			
			{# {{data.cover}} #}
		</div>
	</div>
{% endblock %}
