{% extends 'base.html.twig' %}

{% block title %}
	Description du livre
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('CSS/bookDescript.css')}}">
{% endblock %}

{% block body %}
	<div class="presentation-livre d-flex flex-column justify-content-center">
		<div class="d-flex flex-column align-items-center text-center mb-5">
			<h1 class="title mb-5 marginTitle">{{ book.title }}</h1>
			<p>
				<b>Résumé :</b>
				{{ book.summary }}</p>
		</div>

		{# CARACTÉRISTIQUES DÉTAILLÉES #}
		<div class="d-flex justify-content-between mb-5">
			<p>
				<b>Auteur :</b>
				{{ book.author }}</p>
			<p>
				<b>Date de parution :</b>
				{{ book.getReleaseDate()|date('d/m/Y') }}</p>
			<p>
				<b>Categorie :</b>
				{{ book.category }}</p>
			<p>
				<b>Editeur :</b>
				{{ book.editor }}</p>
		</div>

		{# Etat du livre et de son emprunt #}
		<div class="d-flex flex-wrap justify-content-center fontText">
			<div id="coverPresentation">
				<img  src="/ecf_symfony/src/uploads/{{book.cover}}">
			</div>
			<div class="d-flex flex-column ms-5">
				<div>
					<p>
						<b>Etat du livre :</b>
						{{ book.getBookCondition() }}</p>
					<p>
						<b>Statu du livre :</b>
						{% if book.status == 1 %}
							disponible
						{% else %}
							emprunté par
							{{ book.getUserId().firstname }}
							{{ book.getUserId().lastname }}
						{% endif %}
					</p>
				</div>
				<div>
					<p>
						<b>Historique d'emprunt :</b>
						<ul>
							{% for history in book.getHistoricals() %}
								{% for user in history.getUserId() %}
									<li>
										{{user.getFirstname()}}
										{{user.getLastname()}}
										du :
										{{history.dateloan|date('d/m/Y')}}
										au :
										{% if history.dateofreturn %}
											{{history.dateofreturn|date('d/m/Y')}}
										{% endif %}
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</p>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
