{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!
{% endblock %}

{% block body %}
	<style>
		.presentation-livre {
			margin: 1em auto;
			max-width: 800px;
			width: 80%;
			font: 18px / 1.5 sans-serif;
		}
		
	</style>

	<div class="presentation-livre d-flex flex-column justify-content-center">
		<h1>{{ data.title }}</h1>
		<div>
			<p><b>Auteur :</b>
				{{ data.author }}</p>
		</div>
		<div>
			<p><b>Date de parution :</b>
				{{ data.release_date|date('d/m/Y') }}</p>
		</div>
		<div>
			<p><b>Résumé :</b>
				{{ data.summary }}</p>
		</div>
		<div>
			<p><b>Categorie :</b>
				{{ data.category }}</p>
		</div>
		<div>
			<p><b>Editeur :</b>
				{{ data.editor }}</p>
		</div>
		<div>
			<p><b>Etat du livre :</b>
				{{ data.book_condition }}</p>
		</div>
		<div>
			<p><b>Statu du livre :</b>
				{% if data.status == 1 %}
			disponible
		{% else %}
			emprunté
		{% endif %}</p>
		</div>
	</div>
{% endblock %}
