{% extends 'base.html.twig' %}

{% block title %}Description du livre
{% endblock %}
{% block stylesheets %}
	<style>
		.bg {
			background-image: url('../../../images/books.jpg');
			background-size: cover;
		}
		.presentation-livre {
			margin: 1em auto;
			max-width: 1000px;
			width: 80%;
			font: 18px / 1.5 sans-serif;
			background-color: #d4c9bcf4;
			border-radius: 15px;
			padding: 1em;
		}
		#coverPresentation {
			display: flex;
			justify-content: center;
			height: 500px;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="presentation-livre d-flex flex-column justify-content-center">
		<div class="d-flex flex-wrap justify-content-center mb-5">
			<h1 class="title mb-5 marginTitle">{{ data.title }}</h1>
			<p>
				<b>Résumé :</b>
				{{ data.summary }}</p>
		</div>

		{# CARACTÉRISTIQUES DÉTAILLÉES #}
		<div class="d-flex justify-content-between mb-5">
			<p>
				<b>Auteur :</b>
				{{ data.author }}</p>
			<p>
				<b>Date de parution :</b>
				{{ data.release_date|date('d/m/Y') }}</p>
			<p>
				<b>Categorie :</b>
				{{ data.category }}</p>
			<p>
				<b>Editeur :</b>
				{{ data.editor }}</p>
		</div>

		{# Etat du livre et de son emprunt #}
		<div class="d-flex flex-wrap justify-content-center fontText">
			<div>
				<img id="coverPresentation" src="/ecf_symfony/src/uploads/{{data.cover}}">
			</div>
			<div class="d-flex flex-column ms-5">
				<div>
					<p>
						<b>Etat du livre :</b>
						{{ data.book_condition }}</p>
					<p>
						<b>Statu du livre :</b>
						{% if data.status == 1 %}
							disponible
						{% else %}
							emprunté par
							{{ data.user_id.firstname }}
							{{ data.user_id.lastname }}
						{% endif %}
					</p>
				</div>
				<div>
					<p>
						<b>Historique d'emprunt :</b>
						<ul>
							{% for history in book.getHistoricals() %}
								{% for user in history.getUserId() %}
									<li>
										{{user.getFirstname()}}
										{{user.getLastname()}}
										du :
										{{history.dateloan|date('d/m/Y')}}
										au :
										{% if history.dateofreturn %}
											{{history.dateofreturn|date('d/m/Y')}}
										{% endif %}
									</li>
								{% endfor %}
							{% endfor %}
						</ul>
					</p>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
