{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	<center>
		<h1 class="title my-5">Liste des livres</h1>
	</center>
	<div class="example-wrapper border border-warning border-3 rounded-2 p-2">

		<table id="example" class="display" style="width:100%">
			<thead>
				<tr>
					<th>Couverture</th>
					<th>Titre</th>
					<th>N° Identification</th>
					<th>Auteur</th>
					<th>Categorie</th>
					<th>état</th>
					<th>Status</th>
					<th>Infos</th>
					<th>Emprunt</th>
					<th>Supression</th>
			</tr>
			</thead>
				<tbody>
					{% for book in books %}
						<tr>
						<td id="coverListing"><img src="/ecf_symfony/src/uploads/{{ book.getCover() }}"> </td>
						<td>{{ book.getTitle() }}</td>
						<td class="text-center">{{ book.getId()}}</td>
						<td class="text-center">{{ book.getAuthor()}}</td>
						<td class="text-center">{{ book.getCategory()}}</td>
						<td class="text-center">{{ book.getBookCondition()}}</td>
						<td class="text-center">
							{% if book.getStatus() == 1 %}
								disponible
							{% else %}
								emprunté
							{% endif %}
						</td>
						<td class="">
							<a class="btn btn-info w-100" href="{{ path('book_description', {'id': book.getId()} )}}">
								Infos
							</a>
						</td>
						<td>
							{% if book.getStatus() == 1 %}
								<a class="btn btn-success w-100" href="{{ path('book_loan', {'id': book.getId()} )}}">
									Emprunt
								</a>
							{% else %}
								<a class="btn btn-warning w-100" href="{{ path('book_return', {'id': book.getId()} )}}">
									Rendre
								</a>
							{% endif %}
						</td>
						<td>
							<a class="btn btn-danger" href="{{ path('book_delete', {'id': book.getId()} )}}">
								Supprimer
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
