<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{# font styles #}
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Code+Pro&display=swap" rel="stylesheet"> <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
		<link
		href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
		{# tableau #}
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
$('#tableListing').DataTable({
language: {
processing: "Traitement en cours...",
search: "Rechercher&nbsp;:",
lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
infoPostFix: "",
loadingRecords: "Chargement en cours...",
zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
emptyTable: "Aucune donnée disponible dans le tableau",
paginate: {
first: "Premier",
previous: "Pr&eacute;c&eacute;dent",
next: "Suivant",
last: "Dernier"
},
aria: {
sortAscending: ": activer pour trier la colonne par ordre croissant",
sortDescending: ": activer pour trier la colonne par ordre décroissant"
}
}
});
});
		</script>

		<style>
			.wrapper {
				margin: 1em auto;
				width: 80%;
				font: 18px / 1.5 sans-serif;
			}
			#coverListing {
				display: flex;
				justify-content: center;
				height: 100px;
			}
			.title {
				/* font-family: 'Libre Baskerville', serif; */
				font-family: 'Great Vibes', cursive;
				font-size: 4em;
				font-weight: bold;
				letter-spacing: 2px;
			}
			.fontText {
				/* font-family: 'Source Code Pro', monospace; */
				font-family: 'Kaushan Script', cursive;
			}
			.marginTitle {
				margin-top: 8%;
			}
			.marginUser {
				margin-top: 6%;
			}
			.navbar {
				background-color: #d4c9bcd4;
				box-shadow: 0 2px 20px;
			}
			.navbar-brand {
				color: #dc3545;
				font-weight: bolder;
				font-size: 170%;
			}
		</style>
	</head>

	<body class="bg">
		<nav class="navbar navbar-light fontText">
			<div class="container-fluid d-flex justify-content-around">
				<a class="navbar-brand" href="{{ path('books_listing' )}}">Liste des livres</a>
				<a class="navbar-brand" href="{{ path('users_listing' )}}">Liste des emprunteurs</a>
				<a class="navbar-brand" href="{{ path('book_create' )}}">Ajouter un livre</a>
				<a class="navbar-brand" href="{{ path('user_create' )}}">Ajouter un emprunteur</a>
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a class="btn btn-danger my-3" href="{{path('app_logout')}}">
						Deconnexion
					</a>
				{% endif %}
				<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('books_listing' )}}">Liste des livres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('users_listing' )}}">Liste des emprunteurs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('book_create' )}}">Ajouter un livre</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('user_create' )}}">Ajouter un emprunteur</a>
						</li>
						<li class="nav-item">
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								<a style="color: #F00020;" class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar -->

		{# <nav class="navbar  navbar-light">
																									<div class="container-fluid d-flex justify-content-around">
																										<a class="navbar-brand" style="color: #dc3545; font-weight: bolder;" href="{{ path('books_listing' )}}">Liste des livres</a>
																										<a class="navbar-brand" style="color: #dc3545; font-weight: bolder;" href="{{ path('users_listing' )}}">Liste des emprunteurs</a>
																										<a class="navbar-brand" style="color: #dc3545; font-weight: bolder;" href="{{ path('book_create' )}}">Ajouter un livre</a>
																										<a class="navbar-brand" style="color: #dc3545; font-weight: bolder;" href="{{ path('user_create' )}}">Ajouter un emprunteur</a>
																										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
																											<a class="btn btn-danger my-3" href="{{path('app_logout')}}">
																												Deconnexion
																											</a>
																										{% endif %}
																									</div>
																								</nav> #}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				<h3 class="d-flex justify-content-center">{{message}}</h3>
			</div>
		{% endfor %}

		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				<h3 class="d-flex justify-content-center">{{message}}</h3>
			</div>
		{% endfor %}
		{% block body %}{% endblock %}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html></body></html>
