{% extends 'base.html.twig' %}

{% block title %}Liste des emprunteurs{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}

<center>
		<h1 class="title my-5">Liste des emprunteurs</h1>
	</center>
<div class="example-wrapper border border-warning border-3 rounded-2 p-2">
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Livre emprunté</th>            
            </tr>
        </thead> 
        <tbody>
    {% for user in users %}
	
		<tr>
			<td>{{ user.getFirstName() }}</td>
            <td>{{ user.getLastName()}}</td>
            <td>{{ user.getEmail()}}</td>
            <td>
            <a class="btn btn-info" href="{{ path('user_profil', {'id': user.getId()} )}}">
								Plus d'info
							</a>
            {# <td>{{ user.getbooksId(title)}}</td> #}
          
            </td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
</div>


{% endblock %}