{% extends 'base.html.twig' %}

{% block title %}
	Profil utilisateur
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{asset('CSS/profil.css')}}">
{% endblock %}

{% block javascripts %}
	{{parent()}}
{% endblock %}

{% block body %}

	<div class="wrapper d-flex flex-column fontText">
	{# TITRE DE LA PAGE #}
		<h1 class="title my-5 d-flex justify-content-center" style="color: white;">Profil de
			{{ user.lastname }}
			{{ user.firstname }}</h1>

		{# CARACTÉRISTIQUES DÉTAILLÉES #}
		<center>
			<h2 style="color: white;">Informations personnel :</h2>
		</center>
		<div class="d-flex flex-column mb-5">
			<div class="d-flex flex-wrap justify-content-center mb-5">
				<div class="d-flex flex-wrap border border-3 p-2" style="background-color: white;">
					<p class="me-5 text-center">
						<b>Email :
						</b><br>
						{{ user.email }}
					</p>
					<p class="me-5 text-center">
						<b>Identifiant :
						</b><br>
						{{ user.id }}
					</p>
				</div>
			</div>
				<center>
					<h2 style="color: white;">Historique :</h2>
				</center>

			<div class="border border-secondary border-3 p-2" style="background: white;">
				{# AFFICHAGE TABLEAU HISTORIQUE #}
				<table id="tableListing" class="display" style="width:100%;">
					<thead>
						<tr>
							<th>Titre du livre emprunté</th>
							<th>Date d'emprunt</th>
							<th>Date de restitution max</th>
							<th>Date de restitution effective</th>
						</tr>
					</thead>
					<tbody>
						{% for history in user.getHistoricals() %}
							<tr>
								{# <td id="coverListing"><img src="/ecf_symfony/src/uploads/{{ book.getCover() }}"> </td> #}
								<td>
									{% for books in history.getBookId() %}
										{{books.getTitle()}}
									{% endfor %}
								</td>
								<td class="text-center">{{history.dateloan|date('d/m/Y')}}</td>
								<td class="text-center">{{history.datereturn|date('d/m/Y')}}</td>
								<td class="text-center">{{history.dateofreturn|date('d/m/Y')}}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}
