{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<style>
		.bg {
			background-image: url('../../../images/background2.jpg');
		}
	</style>

	<div class="example-wrapper d-flex flex-column ">
		<h1 class="title my-5 d-flex justify-content-center">Profil de
			{{ user.lastname }}
			{{ user.firstname }}</h1>

		{# CARACTÉRISTIQUES DÉTAILLÉES #}
		<center>
			<h2>Informations personnel :</h2>
		</center>
		<div class="d-flex flex-column mb-5">
			<div class="d-flex flex-wrap justify-content-center border border-info border-3 p-2 mb-5">
				<p class="me-5 text-center">
					<b>Email :
					</b><br>
					{{ user.email }}</p>
				<p class="me-5 text-center">
					<b>Identifiant :
					</b><br>
					{{ user.id }}</p>
			</div>

			<center>
				<h2>Historique :</h2>
			</center>
			<div class="border border-warning border-3 p-2">

				{# <ul>
													{% for history in user.getHistoricals() %}
														<li>
															<b>Titre du livre emprunté :</b><br>
															{% for books in history.getBookId() %}
																{{books.getTitle()}}
															{% endfor %}
														</li>
								
														<li>
															<b>Date d'emprunt :</b><br>
															{{history.dateloan|date('d/m/Y')}}
														</li>
														<li>
															<b>Date de restitution max :</b><br>
															{{history.datereturn|date('d/m/Y')}}
														</li>
														<li>
															<b>Date de restitution effective :</b><br>
															{{history.dateofreturn|date('d/m/Y')}}
														</li>
													{% endfor %}
												</ul> #}


				{# sous forme de tableau #}
					<table id="example" class="display" style="width:100%"> <thead>
						<tr>
							<th>Titre du livre emprunté</th>
							<th>Date d'emprunt</th>
							<th>Date de restitution max</th>
							<th>Date de restitution effective</th>
						</tr>
					</thead>
					<tbody>
						{% for history in user.getHistoricals() %}
							<tr>
								{# <td id="coverListing"><img src="/ecf_symfony/src/uploads/{{ book.getCover() }}"> </td> #}
								<td>
									{% for books in history.getBookId() %}
										{{books.getTitle()}}
									{% endfor %}
								</td>
								<td class="text-center">{{history.dateloan|date('d/m/Y')}}</td>
								<td class="text-center">{{history.datereturn|date('d/m/Y')}}</td>
								<td class="text-center">{{history.dateofreturn|date('d/m/Y')}}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock %}
